body{
    padding: 0 20px;
    background-color: rgb(88, 85, 85);
    color: ghostwhite;
}

table.bordered-table th, td {
    border: 1px solid silver; 
    padding: 10px;
}

table.bordered-table {
    border-collapse: collapse;
}


table.unbordered-table th, table.unbordered-table td {
    padding: 10px;
    text-align: center;
}

.dropdown {
    width: 150px;
}